<div class="header">
  <b>Welcome In User Page</b>
</div><br>

<div *ngFor="let res of result;let i= index" class="tbldiv">
<table class="table tbl" (click)="GotoAlbums(i+1)">
  <tbody>
      <tr>
          <th>id:</th>
          <td>{{res.id}}</td>
        </tr>
    <tr>
      <th>name:</th>
      <td>{{res.name}}</td>
    </tr>
    <tr>
      <th>username:</th>
      <td>{{res.username}}</td>
    </tr>
    <tr>
      <th>address:</th>
      <td>{{res.address.street}}<br>
      {{res.address.suite}}<br>
      {{res.address.city}}<br>
      {{res.address.zipcode}}<br>
      {{res.address.geo.lat}}<br>
      {{res.address.geo.lng}}<br></td>
    </tr> 
    <tr>  
      <th>website:</th>
      <td>{{res.website}}</td>
    </tr>
    <tr>
      <th>company:</th>
      <td>{{res.company.name}}<br>
      {{res.company.catchPhrase}}<br>
      {{res.company.bs}}<br>
       </td>
    </tr>
  </tbody>
</table>
</div>


