/* You can add global styles to this file, and also import other style files */
.header {
    padding:20px;text-align:center;background-color:#eee;font-size:21px;
}

.tbldiv{
    padding-left: 20px;padding-right: 20px;
}

.tbl{
   background-color: blanchedalmond;
}